<%- include('partials/header') %>

<div class="container mt-5">


  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-title">
          <h1>Sign Up With</h1>
        </div>
        <div class="row">
          <div class="card-body col-lg-6">
            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Google
            </a>
          </div>
          <div class="card-body col-lg-6">
            <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
              <i class="fab fa-facebook"></i>
              Facebook
            </a>
          </div>
        </div>


        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <div class="card-body text-center">
              <button type="submit" class="btn btn-lg btn-dark col-lg-6">Sign Up</button>
            </div>
            <div class="text-center">
              <span>Have already an account?</span><a href="/login">Login here</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
